# SQL DEMO

A quick demo on how to perform SQL queries in Python and compare them to dataframe functions.

### Table of Contents

#### 1. [Load Data](#LoadData)
#### 2. [Analysis](#Analysis)
#### 3. [Modeling](#Modeling)
#### 4. [Evaluate](#Evaluate)

## LoadData <a id='LoadData'></a>
I'll use this dataset from Kaggle: [LINK](https://www.kaggle.com/datasets/leandrojnr/applestore-database). 
This example will use pandas to load data from csv to dataframes.

### Import Python Libraries

In [1]:
import pandas as pd
import sqlite3

### Create the DB connection
You can use a temporary connection in memory to store data and practice.

In [2]:
conn = sqlite3.connect(':memory:') 
cur = conn.cursor()

### Define file location

In [3]:
location = "X:/DB/Apple Store Dataset"
input0 = f"{location}/Copy of AppleStore.csv"
input1 = f"{location}/Copy of appleStore_description1.csv"
input2 = f"{location}/Copy of appleStore_description2.csv"
input3 = f"{location}/Copy of appleStore_description3.csv"
input4 = f"{location}/Copy of appleStore_description4.csv"

### Use Pandas to read csv to dataframe

In [4]:
apps = pd.read_csv(input0)
df1 = pd.read_csv(input1)
df2 = pd.read_csv(input2)
df3 = pd.read_csv(input3)
df4 = pd.read_csv(input4)

### Union all description tables into 1 table

In [5]:
df_desc = pd.concat([df1, df2, df3, df4], ignore_index=True)

### Use to_sql command to create tables in the DB

In [6]:
apps.to_sql(name='Apps', con=conn, if_exists='replace')
df1.to_sql(name='descriptionfile1', con=conn, if_exists='replace')
df2.to_sql(name='descriptionfile2', con=conn, if_exists='replace')
df3.to_sql(name='descriptionfile3', con=conn, if_exists='replace')
df4.to_sql(name='descriptionfile4', con=conn, if_exists='replace')

2199

## Analysis <a id='Analysis'></a>

### Print the number of elements in the dfs

In [7]:
num_rows_apps = len(apps)
print (f"Apps Table Row Count: {num_rows_apps}")

num_rows_desc = len(df_desc)
print (f"Description Table Row Count: {num_rows_desc}")

Apps Table Row Count: 7197
Description Table Row Count: 7197

### Print header and first 2 rows to view column names

#### Apps df ex:

In [8]:
print(apps.head(2))

   Unnamed: 0         id                 track_name  size_bytes currency  \
0           1  281656475            PAC-MAN Premium   100788224      USD
1           2  281796108  Evernote - stay organized   158578688      USD

   price  rating_count_tot  rating_count_ver  user_rating  user_rating_ver  \
0   3.99             21292                26          4.0              4.5
1   0.00            161065                26          4.0              3.5

     ver cont_rating   prime_genre  sup_devices_num  ipadSc_urls_num  \
0  6.3.5          4+         Games               38                5
1  8.2.2          4+  Productivity               37                5

   lang_num  vpp_lic
0        10        1
1        23        1

#### Descriptions df ex:

In [9]:
print(df_desc.head(2))

          id                 track_name  size_bytes  \
0  281656475            PAC-MAN Premium   100788224
1  281796108  Evernote - stay organized   158578688

                                            app_desc
0  SAVE 20%. now only $3.99 for a limited time!\n...
1  Let Evernote change the way you organize your ...

### Column names

In [10]:
print(f'Description DF Columns:',  df_desc.columns.tolist()) 
print('')
print(f'Apps DF Columns:',  apps.columns.tolist())

Description DF Columns: ['id', 'track_name', 'size_bytes', 'app_desc']

Apps DF Columns: ['Unnamed: 0', 'id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices_num', 'ipadSc_urls_num', 'lang_num', 'vpp_lic']

### Use this to see what dfs are in memory

In [11]:
%whos DataFrame

Variable   Type         Data/Info
---------------------------------
apps       DataFrame          Unnamed: 0         <...>n[7197 rows x 17 columns]
df1        DataFrame                 id          <...>\n[1499 rows x 4 columns]
df2        DataFrame                 id          <...>\n[1499 rows x 4 columns]
df3        DataFrame                  id         <...>\n[2000 rows x 4 columns]
df4        DataFrame                  id         <...>\n[2199 rows x 4 columns]
df_desc    DataFrame                  id         <...>\n[7197 rows x 4 columns]

### SQL query to list all tables

In [12]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('Apps',), ('descriptionfile1',), ('descriptionfile2',), ('descriptionfile3',), ('descriptionfile4',)]

### Combine all description tables into 1 table SQL example:

#### Print the count of combined description table

+ cur.executescript is used to execute multiple lines os SQL
+ cur.execute will only execute 1 block of sql code

In [13]:
cur.executescript("""
DROP TABLE IF EXISTS Descriptionfile;                 
CREATE TABLE Descriptionfile AS 
                  SELECT * FROM descriptionfile1 
                  UNION 
                  SELECT * FROM descriptionfile2
                  UNION 
                  SELECT * FROM descriptionfile3
                  UNION 
                  SELECT * FROM descriptionfile4
                  ;

DROP TABLE IF EXISTS Control_DESC;                 

CREATE TABLE Control_DESC AS 
                 Select count(*) FROM Descriptionfile; 
""")

sql_desc_count = cur.execute("SELECT * FROM Control_DESC")
sql_desc_count = cur.fetchall()
print (f"Description File Table Count: {sql_desc_count}")

Description File Table Count: [(7197,)]

#### Print the count of apps table

In [14]:
sql_apps_count = cur.execute("SELECT count(*) FROM Apps")
print(f"Apps File Table Count: {eval('cur.fetchall()')}")

Apps File Table Count: [(7197,)]

### Print table columns:

In [15]:
cur.execute('SELECT * FROM Descriptionfile')
sql_desc_cols = [description[0] for description in cur.description]
print (f"Description SQL Table Columns: {sql_desc_cols}")
print('')
cur.execute('SELECT * FROM apps')
sql_apps_cols = [description[0] for description in cur.description]
print (f"APPS SQL Table Columns: {sql_apps_cols}")

Description SQL Table Columns: ['index', 'id', 'track_name', 'size_bytes', 'app_desc']

APPS SQL Table Columns: ['index', 'Unnamed: 0', 'id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices_num', 'ipadSc_urls_num', 'lang_num', 'vpp_lic']

## Modeling <a id='Modeling'></a>

#### Create table to group by number of languages by avg rating

In [38]:
cur.execute("""
CREATE TABLE IF NOT EXISTS Language_Avg_Rating as 
    SELECT 
        CASE 
        WHEN lang_num < 10 THEN '<10 languages'
        WHEN lang_num BETWEEN 10 and 30 THEN '10-30 languages'
        ELSE '>30 languages'
        END as language_ind,
        avg(user_rating) as Average_Rating
    FROM Apps
    GROUP BY language_ind;   
""") 
cur.execute('SELECT * FROM Language_Avg_Rating')
Language_Avg_Rating_DF = cur.fetchall()
print(Language_Avg_Rating_DF)

[('10-30 languages', 4.1305120910384066), ('<10 languages', 3.368327402135231), ('>30 languages', 3.7777777777777777)]

#### Create table to show genres by avg rating

In [47]:
cur.execute("""
CREATE TABLE IF NOT EXISTS Genre_Avg_Rating as   
    SELECT 
        prime_genre,
        avg(user_rating) as Average_Rating
    FROM Apps
    GROUP BY prime_genre
    ;
""") 
cur.execute('SELECT * FROM Genre_Avg_Rating')
Genre_Avg_Rating_DF = cur.fetchall()
Genre_Avg_Rating_DF

[('Book', 2.4776785714285716),
 ('Business', 3.745614035087719),
 ('Catalogs', 2.1),
 ('Education', 3.376379690949227),
 ('Entertainment', 3.2467289719626167),
 ('Finance', 2.4326923076923075),
 ('Food & Drink', 3.1825396825396823),
 ('Games', 3.6850077679958573),
 ('Health & Fitness', 3.7),
 ('Lifestyle', 2.8055555555555554),
 ('Medical', 3.369565217391304),
 ('Music', 3.9782608695652173),
 ('Navigation', 2.6847826086956523),
 ('News', 2.98),
 ('Photo & Video', 3.8008595988538683),
 ('Productivity', 4.00561797752809),
 ('Reference', 3.453125),
 ('Shopping', 3.540983606557377),
 ('Social Networking', 2.9850299401197606),
 ('Sports', 2.982456140350877),
 ('Travel', 3.376543209876543),
 ('Utilities', 3.278225806451613),
 ('Weather', 3.5972222222222223)]

#### Create table to show app counts by genre

In [48]:
cur.execute("""
CREATE TABLE IF NOT EXISTS AppsByGenre_Count as   
SELECT prime_genre, count(*) as NumApps 
            FROM Apps
            GROUP BY prime_genre
            ORDER BY NumApps desc;
""") 
cur.execute('SELECT * FROM AppsByGenre_count')
AppsByGenre_Count_DF = cur.fetchall()
AppsByGenre_Count_DF

[('Games', 3862),
 ('Entertainment', 535),
 ('Education', 453),
 ('Photo & Video', 349),
 ('Utilities', 248),
 ('Health & Fitness', 180),
 ('Productivity', 178),
 ('Social Networking', 167),
 ('Lifestyle', 144),
 ('Music', 138),
 ('Shopping', 122),
 ('Sports', 114),
 ('Book', 112),
 ('Finance', 104),
 ('Travel', 81),
 ('News', 75),
 ('Weather', 72),
 ('Reference', 64),
 ('Food & Drink', 63),
 ('Business', 57),
 ('Navigation', 46),
 ('Medical', 23),
 ('Catalogs', 10)]

In [ ]:
# code

## Evaluate <a id='Evaluate'></a>

#### Rank function by user ratings and group by genre to find the top rated apps

In [50]:
cur.execute("""
CREATE TABLE IF NOT EXISTS RankedAppsByGenre as   
        SELECT 
            prime_genre,
            track_name,
            user_rating
        FROM (
            SELECT
                prime_genre,
                track_name,
                user_rating,
                RANK() OVER(PARTITION BY prime_genre ORDER BY user_rating DESC, rating_count_tot desc) as rank
            FROM Apps
            ) as A
        WHERE
        A.rank = 1
            """) 
cur.execute('SELECT * FROM RankedAppsByGenre')
RankedAppsByGenre_DF = cur.fetchall()
RankedAppsByGenre_DF

[('Book', 'Color Therapy Adult Coloring Book for Adults', 5.0),
 ('Business',
  'TurboScan™ Pro - document & receipt scanner: scan multiple pages and photos to PDF',
  5.0),
 ('Catalogs', 'CPlus for Craigslist app - mobile classifieds', 5.0),
 ('Education', 'Elevate - Brain Training and Games', 5.0),
 ('Entertainment', 'Bruh-Button', 5.0),
 ('Finance', 'Credit Karma: Free Credit Scores, Reports & Alerts', 5.0),
 ('Food & Drink', "Domino's Pizza USA", 5.0),
 ('Games', 'Head Soccer', 5.0),
 ('Health & Fitness', 'Yoga Studio', 5.0),
 ('Lifestyle', 'ipsy - Makeup, subscription and beauty tips', 5.0),
 ('Medical', 'Blink Health', 5.0),
 ('Music', 'Tenuto', 5.0),
 ('Navigation',
  'parkOmator – for Apple Watch meter expiration timer, notifications & GPS navigator to car location',
  5.0),
 ('News', 'The Guardian', 5.0),
 ('Photo & Video', 'Pic Collage - Picture Editor & Photo Collage Maker', 5.0),
 ('Productivity', 'VPN Proxy Master - Unlimited WiFi security VPN', 5.0),
 ('Reference', 'Sky Guide: View Stars Night or Day', 5.0),
 ('Shopping', 'Zappos: shop shoes & clothes, fast free shipping', 5.0),
 ('Social Networking',
  'We Heart It - Fashion, wallpapers, quotes, tattoos',
  5.0),
 ('Sports', 'J23 - Jordan Release Dates and History', 5.0),
 ('Travel', 'Urlaubspiraten', 5.0),
 ('Utilities', 'Flashlight Ⓞ', 5.0),
 ('Weather',
  'NOAA Hi-Def Radar Pro -  Storm Warnings, Hurricane Tracker & Weather Forecast',
  5.0)]

In [16]:
### Close the connection

In [16]:
conn.close()